In [8]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score

%matplotlib inline

In [4]:
item_to_id=pd.read_csv("C:/Users/samee/OneDrive/Desktop/MScoursework/data science projects/Interview Practice/item_to_id.txt", sep="\t")

In [7]:
print(sorted(item_to_id['Item_id'].unique()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]

In [10]:
history= pd.read_csv("C:/Users/samee/OneDrive/Desktop/MScoursework/data science projects/Interview Practice/Clustering/purchase_history.txt", sep=",")
history.head()

   user_id                                                 id
0   222087                                              27,26
1  1343649                                            6,47,17
2   404134                       18,12,23,22,27,43,38,20,35,1
3  1110200                                 9,23,2,20,26,47,37
4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...

In [29]:
def id_to_item(df):
    """ function to convert id into counts """
    # 'sum' here is adding two lists into one big list
    ids = df['id'].str.split(',').sum()
    id_list = [0 for i in range(1, 49)]
    for i in ids:
        id_list[int(i) - 1] += 1
        
    return pd.Series(id_list, index=list(range(1, 49)))

In [33]:
user_item_count = history.groupby('user_id').apply(id_to_item)

user_item_count.head()

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
user_id,,,,,,,,,,,,,,,,,,,,,
47,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
68,0,0,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
113,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
123,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
223,1,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [36]:
user_count = user_item_count.sum(axis=1).reset_index().rename(columns={0: 'count'})
user_count.sort_values(by='count', ascending=False).head()

      user_id  count
4445   269335     72
6111   367872     70
6623   397623     64
9918   599172     64
6291   377284     63

In [39]:
item_user_most = user_item_count.apply(np.argmax, axis=0).reset_index()
item_user_most = item_user_most.rename(columns={'index': 'Item_id', 0: 'User_id'})

df = pd.merge(left=item_user_most, right=item_to_id, on='Item_id', how='left')
df[['Item_id', 'Item_name', 'User_id']]

    Item_id          Item_name  User_id
0         1              sugar      512
1         2            lettuce      512
2         3          pet items     2552
3         4         baby items       92
4         5            waffles     3605
5         6            poultry     5555
6         7      sandwich bags     2926
7         8             butter     2493
8         9               soda     4445
9        10            carrots    10238
10       11            cereals     6111
11       12            shampoo     9261
12       13             bagels    10799
13       14               eggs     2855
14       15      aluminum foil     2356
15       16               milk     1175
16       17               beef     6085
17       18  laundry detergent    15193
18       19      shaving cream      512
19       20         grapefruit    14623
20       21            cheeses    14597
21       22  frozen vegetables    19892
22       23                tea    15251
23       24       paper towels     3154
24       25           cherries     1094
25       26    spaghetti sauce    16026
26       27       dishwashing     15840
27       28  canned vegetables     3400
28       29          hand soap     6565
29       30              flour      375
30       31              pasta     4803
31       32             apples     1771
32       33       toilet paper    21668
33       34          tortillas     5085
34       35               soap     7526
35       36          ice cream     4445
36       37       dinner rolls      749
37       38              juice     4231
38       39    sandwich loaves     9918
39       40            berries      634
40       41            ketchup     2192
41       42          cucumbers     1303
42       43             coffee    16510
43       44           broccoli      512
44       45        cauliflower    19857
45       46            bananas    20214
46       47               pork     6419
47       48             yogurt     5575